*{

    box-sizing: border-box;
    margin:0;
    padding: 0%;
}

html{

    height: 100%;
    width: 100%;
    margin:0;
    padding: 0%;

}

body{

    border: Solid black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
}

#div-central
{
    display: flex;
    border: solid;
    height: fit-content;
    flex-direction: column;
    position: fixed;
    width: fit-content;
    align-items: center;
    height: fit-content;
    width: 25%;
    background-color: #ddd;
    margin-top: 5%;
    padding: 1%;
}

#Formulario
{

    width:100% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    margin-top: 5%;
   

}

#botones
{

    width: 100%;
    height:fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1%;
    align-items: center;
    justify-content: center;
    margin-top: 3%;

}

label{
    font-family: cursive;
    
}

button
{ 
    width: 40%;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 black;
    height:40px;
    background-color: rgb(183, 151, 212);
    margin: 3% 3% 3% 3%;
}



input
{
    width: 80%;
    height:40px;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 black;
    margin:3%;
    text-align: center;
    font-family: cursive;

}



#Crea-persona
{

    margin-top:10%;

}





@media (max-width:600px) {

    #Presentacion{
        width: 100%;
    }
    #Botones{
        width: 100%;
    }
    #div-central
    {
        width: 90%;
    }


}

@media (min-width:600px) and (max-width:900px) {

    #Presentacion{
        width: 70%;
    }
    #Botones{
        width: 60%;
    }
    #div-central
    {
        width: 70%;
    }

}

@media (min-width:900px) and (max-width:1200px) {

    #Presentacion{
        width: 60%;
    }
    #Botones{
        width: 50%;
    }
    #div-central
    {
        width: 50%;
    }

}

@media (min-width: 1200px) {

    #Presentacion{
        width: 60%;
    }
    #Botones{
        width: 40%;
    }
    #div-central
    {
        width:20%;
    }


}
