*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html
{
    width: 100%;
    height: 100%;
    display: flex;
    
}

body
{
    width: 100%;
    height: 100%;
    display: flex;

    
}

header
{
    height: 10%;
    width: 100%;
    background: linear-gradient(180deg,#cdffd8,#94b9ff);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    h2
    {
       
        margin:10%;
        font-size: xx-large;
        color:#004AAD;
        text-decoration:underline;
    } 
    

}

#Logout
{
    
    width: 5%;
    margin-left: 3%;
    background-color: #86b5f3;
    background: rgb(226, 134, 134);
    border-radius: 10px;
    height: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px 0; 
   
}

#header-Input
    {
     
        height: 100%;
        width: 60%;
        display: flex;
        justify-content:flex-end;
        flex-wrap: wrap;
        align-items: center;
     
     
     
     label
     {
        color:#004AAD;
        text-shadow: rgb(33, 33, 33) 0 0 2px;
        margin-right: 2%;
        align-items: center;
        
     }

     input
     {
        height: 50%;
        width: 20%;
        align-self:right;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 0 2px 0 black;
        font-size: large;
        background-color: #acc7f9;

     }

    }

table
{
   
    width: 100%;
    height: 80%;
    position: absolute;
    display: flex;
    top:10%;
    overflow: hidden;
    justify-content: center;
    
}

thead 
{
    
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    height: 13%;
    position: relative;
    background: linear-gradient(180deg,#26BEC8 ,#acc7f9);
   
    
}

#Encabezados
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 99.7%;  
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;  
    
    
}

.Columnas
{
        border:solid thin;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#26BEC8;  
        cursor: pointer;
}

.Columnas1
{
        border:solid thin;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#26BEC8;  
        
      
}

.PDF
{
        border:solid thin;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#9cd9dd;  
      
}

.Modificaciones
{
        border:solid thin;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#9cd9dd;   
      
}

.Eliminar
{
        border:solid thin;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#9cd9dd;  
}



#inputs
{
    width: 99.7%;  
    height: 40%;   
    top:60%;
    display: flex;

    td{width: 100%;}
   
    input
    {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      text-align: center;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: large;
      background-color: #acc7f9;
      
   
    }
    select
    {
      width: 100%;
      height: 100%;
      background-color: #acc7f9;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: medium;
      border-radius: 5px;
      text-align: center;
    }

 
}



tbody
{
    
    width: 100%;
    height:72% ;
    position: absolute;
    top:13%;
    overflow:auto; 
  
    tr
    { 
        width: 100%;
        height: 7%;
        display: flex;
        text-align: center;   
        
       
    }

    button
    {
        border-radius: 10px;
        height: 80%;
        width: 50%;
        background-color: #86b5f3;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


    }

    .bteli
    {background-color: #fa97a7;}
        

    tr:nth-child(odd)
    {background-color: #eee;}

    h2
    {align-content: center;}
   
}

.Carrera
{

    border: solid thin;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Fecha
{
    border: solid thin;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Materias
{
    border: solid thin;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Cuota
{
    border: solid thin;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Apellido
{
    border: solid thin;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Nombre
{
    border: solid thin;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Legajo
{
    border: solid thin;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Cod
{
    border: solid thin;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Restante
{ 
    width: 100%; 
    text-align: center;

}



tbody::-webkit-scrollbar
    {
      width: 7px;
     position:sticky;
    }

tbody::-webkit-scrollbar-thumb
    {
        background-color: #aaa;
        border-radius: 3px;
    }




tfoot
{

    height: 15%;
    width: 100%;
    align-self: flex-end;
    position: absolute;
    
    
}

#PieTabla{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    background-color:#26BEC8;
   
}



#Botones
{
    width: 100%;
    height: 60%; 
    display: flex;
    justify-content: center;
    align-items: center;
    

    td
    {
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:10px;

    }
   .Boton
    {
        width: 100%;
        height: 80%;
        border-radius: 50px;
        background-color: #86b5f3;
        cursor: pointer;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: large;
        font-weight: bold;
        box-shadow: 0 0 2px 0 black;
    }

   #Vaciar
   {background-color: #38B6FF;}

   #Limpiar
   {background-color: #38B6FF;}
   
   #Altas
   {background-color: #38B6FF;}

}


footer
{
    background: linear-gradient(180deg,#cdffd8,#94b9ff);
    height: 10%;
    top: 90%;
    width: 100%;
    position: absolute;
    
    h2
    {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: large;
        margin: 1% 0 0 5%;
    }
}




@media (max-width:1500px)
{
    
    .Carrera
    {display: none;}

    #CARR
    {display: none;}

    
    #Entrada8
    {display: none;}
    
    #Botones
    {
     td
     {width: 12%;}
    }

 }

 @media (max-width:1200px)
 {
     
     .Fecha
     {display: none;}
 
     #FECH
     {display: none;}
 
     #Entrada7
     {display: none;}

     .bteli
     {
        width: 70%;
        font-size: 11px;
     }

     .btMod
     {
        width: 70%;
        font-size: 11px;
     }

     .btpdf
     {
        width: 70%;
        font-size: 11px;
     }
     
     #Botones
     {
       .Boton
       {
        font-size: medium;
       }
      
      td
      {width: 70%;}

     }
 
  }

  @media (max-width:900px)
  {
      
      .Materias
      {display: none;}
  
      #MATAPR
      {display: none;}
   
      #Entrada6
      {display: none;}
      
      
 }



 @media (max-width:800px)
 {
     
     .Cuota
     {display: none;}
     .Nombre
     {display: none;}

     #CUO
     {display: none;}
     #NOM
     {display: none;}
  
     #Entrada5
     {display: none;}
     #Entrada3
     {display: none;} 
     
}





@media (max-width:700px)
{
        
          #Pdf
         {display: none;}

         #pdfsinput
         {display: none;}

         .PDF
         {display: none;}


         #Logout
        {
        width: 15%;
        margin-right: 3%;
        }
        #header-Input
        { 
            width: 50%;
            justify-content: left;
            input
            {
             width: 50%;
            }
        }   

    



}

@media (max-width:500px)
{
    
        .Apellido
        { display: none;}
      
        #Entrada4
        {display: none;}

        #APE
        { display: none;}


        #Botones
        {
          width: 100%;
         td
         {width: 40%;}
        }

        #Logout
        {
        width: 15%;
        }
       
        #header-Input
        { 

            width: 25%;
            justify-content: left;

            input
            {width: 100%;}

            label
            {font-size: x-large;}
        }   


}